# Server Configuration
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by defaultexec config.cfg
exec scripts.cfg

sv_scriptHookAllowed 0
sets tags "default"

sets locale "es-ES" 

sv_enforceGameBuild 3717 #A Safehouse in the Hills
sv_maxclients 48

# Loading a server icon (96x96 PNG file)
#load_server_icon "logo.png"

# convars which can be used in scripts
set temp_convar "hey world!"
sv_master1 ""

setr sv_stateBagStrictMode false

set steam_webApiKey ""

sv_licenseKey "cfxk_key"

# Server tags
sets sv_projectName "KeCore 2.0"
sv_hostname "KeCore DEV"
sets sv_projectDesc "KeCore DevKit"